BODY{FONT-SIZE:12px; COLOR:#004400; BACKGROUND-COLOR:#CCFFCC; MARGIN:1px; scrollbar-base-color: #99CC99;}
.TIT {FONT-SIZE:40px; COLOR:#114411; font-weight:bold; TEXT-ALIGN:center; WIDTH:100%; FILTER:Glow(COLOR=GREEN,STRENGTH=10);}
.CNTTAB {FONT-SIZE:27px;font-weight:bold;margin:0px;padding:1px;BORDER:8px OUTSET;BACKGROUND-COLOR:#000000;border-color:#00CC00 #00BB00 #00AA00 #009900;}
.SMA {FONT-SIZE:11px;}
.BIG {FONT-SIZE:16px;}
.BLD {font-weight:bold;}
.PAD {PADDING:1px,30px;}
.CEN {WIDTH:95%; TEXT-ALIGN:center;}
.RIG {WIDTH:95%; TEXT-ALIGN:right;}
.TAB1 {FONT-SIZE:12px; COLOR:#004400; BORDER:1px OUTSET; PADDING:1px; MARGIN:1px; BACKGROUND-COLOR:#77FF77;}
.TAB2 {FONT-SIZE:12px; COLOR:#004400; BORDER:1px OUTSET; PADDING:1px; MARGIN:1px; BACKGROUND-COLOR:#AAFFAA;}
.TAB3 {FONT-SIZE:12px; COLOR:#004400; BORDER:1px OUTSET; PADDING:1px; MARGIN:1px; BACKGROUND-COLOR:#CCFFCC;}
.TAB4 {FONT-SIZE:12px; COLOR:#004400; BORDER:1px OUTSET; PADDING:1px; MARGIN:1px; BACKGROUND-COLOR:#FFCCCC;}
.TAB5 {FONT-SIZE:12px; COLOR:#004400; BORDER:1px OUTSET; PADDING:1px; MARGIN:1px; BACKGROUND-COLOR:#CCCCFF;}
H1 {FONT-SIZE:36px; COLOR:#114411; TEXT-ALIGN:center; WIDTH:100%; FILTER:Glow(COLOR=GREEN,strength=10);}
HR {HEIGHT:2px; COLOR:GREEN; WIDTH=98%;}
#TH {BACKGROUND-COLOR:#999999; COLOR:#F5F5F5;}
LI {FONT-SIZE:12px;}
A:LINK    {COLOR:#333388;}
A:VISITED {COLOR:#883388;}
A:ACTIVE  {COLOR:#FF4444; BACKGROUND-COLOR:#FFCCCC; TEXT-DECORATION:underline}
A:HOVER   {COLOR:#FF4444; BACKGROUND-COLOR:#FFCCCC; TEXT-DECORATION:underline}
